In [2]:
practice_list=[1,2,3,'ankur',8,9.0]

In [3]:
print(practice_list)

[1, 2, 3, 'ankur', 8, 9.0]

In [4]:
practice_list.append('Kumar')

In [5]:
print(practice_list)

[1, 2, 3, 'ankur', 8, 9.0, 'Kumar']

In [7]:
new_list=[] #an empty list and extending practice_list to it. 
new_list.extend(practice_list)

In [8]:
print(new_list)

[1, 2, 3, 'ankur', 8, 9.0, 'Kumar']

In [10]:
new_list.insert(3,5) #location,item

In [11]:
print(new_list)

[1, 2, 3, 5, 'ankur', 8, 9.0, 'Kumar']

In [13]:
new_list.remove(3)# mention the item to be deleted. One disadvantage cannot remove duplicates

In [14]:
print(new_list)

[1, 2, 5, 'ankur', 8, 9.0, 'Kumar']

In [15]:
new_list.pop() # removes the last element

'Kumar'

In [16]:
print(new_list)

[1, 2, 5, 'ankur', 8, 9.0]

In [18]:
temp=[1,23,5,6]
temp.clear() #empties the complete list

In [19]:
print(temp)

[]

In [20]:
len(new_list)

6

In [21]:
new_list[-3][-2] #slicing through the list

'u'

In [31]:
num_list=[2,3,4,23,9,10,15,6,0,8]

max(num_list)

23

In [32]:
min(num_list)

0

In [33]:
sum(num_list) #sum of all the elements

80

In [34]:
sorted(num_list) #sorts the list

[0, 2, 3, 4, 6, 8, 9, 10, 15, 23]

In [35]:
tup =(8,9,0,3)

a= list(tup) #converting to list from tupple

In [36]:
print(a)

[8, 9, 0, 3]

In [40]:
rev_list=new_list.reverse()

In [41]:
print(rev_list) #important point numerical list cannot be reversed with "reverse" method

None

In [42]:
str_list=['ankur','kumar','purendra']

str_list.reverse()

In [43]:
print(str_list) #string gets reversed

['purendra', 'kumar', 'ankur']

In [45]:
str_list.count('ankur')

1

In [48]:
str_list.index('ankur')

2