<a href="https://colab.research.google.com/github/ankurkaiser/Bepec-Training/blob/main/Python_Practice_Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
n=int(input("enter the number of table : "))
i=1
while i<=10:
  print(n*i)
  i+=1

enter the number of table : 17
17
34
51
68
85
102
119
136
153
170

In [37]:
#n=int(input("enter a number"))

num=1
n=5
for i in range(0,n):
  for j in range(0,i+1):
    print("*", end= " ")

    num+=1
  print("\r")

*
* *
* * *
* * * *
* * * * *

In [28]:
num=1
n=5
for i in range(0,n):
  num=1
  for j in range(0,i+1):
    print(num, end= " ")

    num+=1
  print("\r")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [30]:
num=1
n=5
for i in range(0,n):
  for j in range(0,i+1):
    print("WFH", end= " ")

    num+=1
  print("\r")

WFH
WFH WFH
WFH WFH WFH
WFH WFH WFH WFH
WFH WFH WFH WFH WFH

In [31]:
num=1
n=5
for i in range(0,n):
  #num=1
  for j in range(0,i+1):
    print(num, end= " ")

    num+=1
  print("\r")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [39]:
num=1
n=8
for i in range(0,n):
  for j in range(0,i+1):
    print("*", end=" ")
    num+=1
  print("\r")

for i in range(n,0,-1):
  for j in range(i,0,-1):
    print("*",end=" ")
    num-=1
  print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [40]:
n=10
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print("*",end=" ")
    num-=1
  print("\r")

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*